@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/*Common*/
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: sans-serif;
	background-color: white;
	display: flex;
	align-items: center;
}

.anual-plan{
  display: flex;
  align-items: center;
}

.ficha {
	width: 400px;
	height: 520px;
	border: solid red 1px;
	background-color: blue;
}

.cover{
  width: 200px;
  height: 100px;
}
p {
	font-size: 16px;
}

section {
	width: 300px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}

.pago{
  border: none;
}