html, body{
 height: 100%; 
}

body{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjeta{
    min-width: 320px;
    background-image: linear-gradient(black, gray);
    border-radius: 1rem;
    padding: 2rem;
    color: white;
    box-shadow: 2px 2px 3px black
}